#Principal {
  padding: 30px;

  
}

.niveauJAVA {
  width: 70%;
  border-bottom: solid 10px blue;
}
.niveauJAVASCRIPT {
  width: 50%;
  border-bottom: solid 10px blue;
}
div {
  margin: 5px;
  padding: 5px;
}
.niveauHTML {
  width: 70%;
  border-bottom: solid 10px blue;
}
.niveauCSS {
  width: 60%;
  border-bottom: solid 10px blue;
}
.titre {
  position: relative;
  padding: 10px;
  top:30px;
  text-align: center;
}

.SS {
  box-shadow: 10px 10px 5px grey;
  background-color:lightgrey;
  border-top: 1px solid black;
  width: 100%;
  border-bottom: 1px solid black;
 

  justify-self: center;
}
.dev {
  border: 1px solid black;
}
.SS2 {
  box-shadow: 10px 10px 5px grey;
  background-color: rgb(94, 194, 233);
  width: 100%;
  border-bottom: 1px solid black;


  justify-self: center;
}
.SS3 {
 
  background-color: lightgrey;
  width: 100%;
  border-bottom: 1px solid black;
 

  justify-self: center;
}

.divPhoto {
 

  
}
.contact {


}
body {
  background:black
}
.ContactG {

}
.maPhoto {
  
}
.dev {
 
}

body {
  font-size: 20px;
}
.img_exp {
  width: 100px;
}
.div_exp,
.IMIE,
.W,
.UN {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.Align_form {
  width: 50px;
}

body {
  height: 100%;
}
#header{
  width:100%;
  display:flex;
  justify-content: space-between;
  

  background-color: rgb(86, 205, 252);
  justify-self: center;

}
#header div{
  margin-left:20px;

}
a{border-bottom: black 2px solid;}
#persoGraph{

width: 500px;
height: 500px;
margin: auto;
}
#perso{display: flex;
background-color: rgb(197, 215, 233);
box-shadow: 10px 10px 5px grey;
width: 100%;}