#Principal{

  padding: 30px;

    display:grid;
   
 
  }
  .bandeTitre{
    border: solid 5px black;
    display: block;
    position: absolute;
    height: 1400px;
    background-color: white
  }
.niveauJAVA{
  width: 70%;
  border-bottom: solid 10px blue ;
  
}
.niveauJAVASCRIPT{
  width: 50%;
  border-bottom: solid 10px blue ;
}
div{ margin: 5px;
padding: 5px;}
.niveauHTML{
  width: 80%;
  border-bottom: solid 10px blue ;
}
.niveauCSS{
  width: 60%;
  border-bottom: solid 10px blue ;
}
.titre{
    margin-top: 50px;
    padding: 10px;
    box-shadow: 10px 10px 5px grey;
    background-color: white;
    grid-column-start: 3;
    
    grid-row-start:  1;
    text-align: center;
    
    
}



.SS{
  box-shadow: 10px 10px 5px grey;
    background-color: white;
    border-top:1px solid black;
    width:70%;
    border-bottom:1px solid black;
    grid-column-start:  span 3;
    
    justify-self:center;
    
  }
  .dev{
    
      border: 1px solid black;
  }
  .SS2{
    box-shadow: 10px 10px 5px grey;
    background-color: white;
    width:70%;
    border-bottom:1px solid black;
    grid-column-start:  span 3;
   
    justify-self:center;
    
  }
  .SS3{
    box-shadow: 10px 10px 5px grey;
    background-color: white;
    width:70%;
    border-bottom:1px solid black;
    grid-column-start:  span 3;
   
    justify-self:center;
  }
  
  .divPhoto{
    grid-column-start:  1;
    grid-row-start:  1;
   
    background-color: white;
  }
  .contact{
    grid-column-start:  2;
    grid-row-start:  1;
    
    background-color: white;
  }
 body{
  
  background: rgb(231, 215, 215)

  }
  .ContactG{
    float: left;
  }
  .maPhoto{
    float: left;
  }
  .dev{
    float: left;
  }
  
body {
  font-size: 20px;
}
.img_exp{
  width: 100px;
}
.div_exp,.IMIE, .W, .UN{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.Align_form{width: 50px;}

body {
  height: 100%;

  
}